@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('../assets/fonts/BebasNeue-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
