@import url('https://fonts.googleapis.com/css?family=Bebas+Neue:regular');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:regular,italic,700,700italic,900,900italic');
@import "./../styles/reset.scss"; /* Или .css — по твоему проекту */

html {
  font-family: 'Bebas Neue', sans-serif;
  scroll-behavior: smooth;
}

/* Остальные стили ниже */

body {
  background-color: #FFFFF0;
}

section:not(:first-of-type) {
  margin-top: 100px;
  scroll-margin-top: 170px;
}

@media (max-width: 768px) {
  section:not(:first-of-type) {
    margin-top: 45px;
  }
}
